header,
footer {
  background-color: #afc5d7;
  width: auto;
}

p {
  font-family: "Bebas Neue";
}

.logoimgtop {
  margin-left: 10px;
  padding-bottom: 20px;
}

.menubtn {
  position: absolute;
  background-color: #afc5d7;
  color: #122140;
  border: none;
  margin-top: 0px;
  margin-left: 10px;
  z-index: 19000px;
  cursor: pointer;
}

.falld {
  display: block;
}

.falld-content {
  margin-top: 15px;
  display: none;
  position: absolute;
  background-color: #afc5d7;
  z-index: 1;
}

.menu {
  list-style-type: none;
  text-align: left;
  z-index: 20000px;
}

.falld-content a {
  font-family: "bebas neue";
  font-size: 24px;
  list-style: none;
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.falld-content a:hover {
  background-color: #122140;
}

.falld:hover .falld-content {
  display: block;
}

.Iconsbar i:hover {
  color: white;
  transition: width 2s;
  cursor: pointer;
}

input[type="searchbutton"] {
  float: right;
  margin-right: 20px;
  margin-top: 0px;
  padding: 5px 16px;
  text-align: center;
  border-radius: 50px 50px 50px 50px;
  font-family: "Bebas Neue";
  font-size: 1.5vw;
  height: auto;
}

.Iconsbar {
  margin-left: 60px;
  margin-top: 5px;
  position: relative;
  z-index: 10000px;
}

.Iconsbar a {
  text-align: right;
  color: #122140;
}

.column {
  flex: 28%;
  padding: 0 4px;

}

.column img {
width: 100%;
}


.row{
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

div.indextext {
  font-family: "Bebas Neue";
  color: #122140;
  font-size: 18px;
  text-align: center;
}

p{
  padding-left: 50px;
  padding-right: 50px;
}


.indexsenter {
  align-content: center;
}

.indexfoot {
  margin-top: 500px;
}

footer {
  font-family: "Bebas Neue";
  text-align: center;
  width: 100%;
  position: absolute;
  margin-bottom: 0px;
}

.btn {
  font-family: "bebas neue";
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: #2c4859;
  border: 0;
  color: white;
  padding: 10px;
  transition: all 0.3s;
  font-weight: 700;
}

.btn:hover {
  background-color: white;
  color: #d16c0d;
  border: 2px solid #d16c0d;
}
