html,


body {
    background: #e8e8e8;
    font-family: "Bebas neue", sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}


.container {
    width: 100%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.results {
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
}

.primary {
    color: var(--primary-colour);
}

.bg-dark {
    background-color: var(--grey) !important;
}

